<!DOCTYPE html>
<head>

    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='stylepage.css')}}"/>

<html>
    <title>Password Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="'containter">
    <div class ='head'>
        <h1>password manager</h1>
    </div>
    <div class="inner">
    <form action="/submit" method="POST">
        <label class="bluelabel" for="username">username</label><br>
        <input class='textform'  type="text" id="username" name="username" value=""><br>
        <label class="bluelabel" for="password"><br>password</label><br>
        <input class='textform'  type="text" id="password" name="password" value=""><br><br>
        <input class = 'button' type="submit" value="login" id="righty">
      </form> 
      {% if valid == False %}
        <p style="color: rgb(94, 14, 14); font-size: 70%;">Invalid username or password. Please try again.</p>
        {% endif %}
    </div>
    
</div>

</body>

</html>

