<!DOCTYPE html>
<head>

  <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='stylepage.css')}}"/>
<html>
    <title>Password Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="'containter">

        <h1 id="landingTitle">welcome to your password manager</h1>

    
    
</div>

  <nav>
  
    <ul id="myMenu">
	<b><li><a href="retrieve.html">retrieve</a></li></b>
     <br><b><li><a href="newpassword.html">new</a></li></b>
     <br><b><li><a href="logout" id="logout">logout</a></li></b>

    </ul>
  </nav>


</body>

</html>

